<div class="side_panel">
    <ul>
      <!-- <li>
        <span><img src="./assets/profile-pic.jpg"></span>
        Lorena Sanchez
      </li> -->
      
      <li>
        <span class="material-symbols-outlined"> group </span>
        Friends
      </li>
      <li>
        <span class="material-symbols-outlined"> schedule </span>
        Memories
      </li>
      <li>
        <span class="material-symbols-outlined"> groups </span>
        Groups
      </li>
      <li>
        <span class="material-symbols-outlined"> store </span>
        Marketplace
      </li>
      <li>
        <span class="material-symbols-outlined"> group </span>
        Feeds
      </li>
      <li>
        <span class="material-symbols-outlined"> event </span>
        Events
      </li>
    </ul>

    <div>
      <span class="material-symbols-outlined"> logout </span>
          Logout
    </div>
  </div>
  